services:
  - type: web
    name: edverse-backend
    env: node
    region: oregon
    rootDirectory: server
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run start
    autoDeploy: true
    healthCheckPath: /api/health
    envVars:
      - key: PORT
        value: 4000
      - key: MONGODB_URI
        sync: false
      - key: JWT_ACCESS_SECRET
        sync: false
      - key: JWT_REFRESH_SECRET
        sync: false
      - key: CLIENT_ORIGIN
        value: https://<your-vercel-app>.vercel.app
